{% extends "base.html" %}
{% block content %}
<div class="px-4 py-1 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="{{url_for('static',filename="d20.png")}}" alt="" width="72" height="57">
  <h1 class="display-5 fw-bold">Northlyn</h1>
  <iframe width="1000" height="515" src="https://www.youtube.com/embed/IVAJrYOOtwI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
    </div>
  </div>
  <div class="embed-responsive embed-responsive-16by9">
  </div>
</div>
{% endblock %}
