{% extends "base.html" %}
{% block content %}
<div class="bg-image d-flex justify-content-sm-center" style="background-image: url('{{url_for('static',filename="backgroundimage.jpg")}}');  background-attachment: fixed;">
  <div class=" text-center">
      <div class="card mx-auto col-lg-8 bg-dark" style="--bs-bg-opacity: .80;">
        <div class="card-body">
          <div class="container">
            <img class="d-block mx-auto img-fluid" src="{{url_for('static',filename="FFcrest.png")}}" alt="" width="350" height="auto">
            <h1 class="display-5 fw-bold fst-italic text-white py-5">Northlyn Isles</h1>
          </div>
          <iframe width="1000" height="515" src="https://www.youtube.com/embed/19dx6AkC_GY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="embed-responsive embed-responsive-16by9">
          <div class="text-white col-lg-10 mx-auto py-5">
            <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
              <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
